<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>良种基地项目管理</title>
    <#include "../common/include_css.html">
</head>
<body class="pace-done fixed-sidebar">
<div id="wrapper">
    <!--左侧菜单-->
    <#include "../common/menu.html">
    <div id="page-wrapper" class="gray-bg">
        <!--头部-->
        <#include "../common/header.html">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">良种基地项目管理</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">项目</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <strong>修改项目</strong>
                                </li>
                            </ol>
                        </div>
                        <div class="ibox-content">
                            <form id="dataForm"  onSubmit="return false">
                                <input type="hidden" name="id" value="${seedProject.id}">
                                <div class="form-group  row">
                                    <label class="col-sm-2 col-form-label">地块</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="land" value="${seedProject.land}" placeholder="请输入地块" autocomplete="off" class="form-control required" />
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group  row">
                                    <label class="col-sm-2 col-form-label">功能区</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="functionArea" value="${seedProject.functionArea}" placeholder="请输入功能区" autocomplete="off" class="form-control" />
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group  row">
                                    <label class="col-sm-2 col-form-label">树种</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="treeType" value="${seedProject.treeType}" placeholder="请输入树种" autocomplete="off" class="form-control" />
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group  row">
                                    <label class="col-sm-2 col-form-label">建设时间</label>
                                    <div class="col-sm-6">
                                        <input type="date" name="buildTime" value="${seedProject.buildTime}"/>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group  row">
                                    <label class="col-sm-2 col-form-label">密度</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="density" value="${seedProject.density}" placeholder="请输入密度" autocomplete="off" class="form-control" />
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group  row">
                                    <label class="col-sm-2 col-form-label">种源</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="seedSource" value="${seedProject.seedSource}" placeholder="请输入种源" autocomplete="off" class="form-control" />
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">状态</label>
                                    <div class="col-sm-6">
                                        <label class="i-checks"> <input type="radio" name="status" value="0" <#if seedProject.status == 0 >checked="checked"</#if>/> <i></i>锁定</label>
                                        <label class="i-checks"> <input type="radio" name="status" value="1" <#if seedProject.status == 1 >checked="checked"</#if>/> <i></i>正常</label>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group  row">
                                    <label class="col-sm-2 col-form-label">备注</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="description" value="${seedProject.description}" placeholder="备注" autocomplete="off" class="form-control required" />
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-sm-offset-6 btn-center-al">
                                        <button class="btn btn-white btn-sm" onclick="window.history.back(-1)" type="button">取消</button>
                                        <button class="btn btn-primary btn-sm" onclick="saveOrUpdate()" type="button">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <#include "../common/footer.html">
    </div>
</div>
<#include "../common/include_js.html">
<script src="/static/js/seed/add.js"></script>
</body>
</html>


