<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>良种基地项目</title>
    <#include "../common/include_css.html">
</head>
<body class="pace-done fixed-sidebar">
<div id="wrapper">
    <!--左侧菜单-->
    <#include "../common/menu.html">
    <div id="page-wrapper" class="gray-bg">
        <!--头部-->
        <#include "../common/header.html">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">良种基地管理系统</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <strong>项目</strong>
                                </li>
                            </ol>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-11 m-b-xs">
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-sm btn-primary"
                                            onclick="window.location.href='/seed/add'">添加
                                    </button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row ">
                                    <div class="col-xs-12">
                                        <h3 class="header smaller lighter blue">条件搜索</h3>
                                        <div class="form-group">
                                            地块：<input id="landParam" name="landParam" type="text"/>&nbsp;&nbsp;
                                            功能区：<input id="functionAreaParam" name="functionAreaParam" type="text"/>&nbsp;&nbsp;
                                            树种：<input id="treeTypeParam" name="treeTypeParam" type="text"/>&nbsp;&nbsp;
                                            建设开始时间：<input type = "date" id="buildBeginTimeParam" name="buildTimeParam" type="text"/>&nbsp;&nbsp;
                                            建设结束时间：<input type = "date" id="buildEndTimeParam" name="buildEndTimeParam" type="text"/>&nbsp;&nbsp;
                                        </div>
                                        <button class="btn btn-xs btn-primary" onclick="search();"><i
                                                class="fa fa-search"></i>&nbsp;查询
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>地块</th>
                                        <th>功能区</th>
                                        <th>树种</th>
                                        <th>建设时间</th>
                                        <th>密度</th>
                                        <th>种源</th>
                                        <th>抚育管理</th>
                                        <th>成长测定</th>
                                        <th>备注</th>
                                        <th>状态</th>
                                        <th><i class=" icon-edit"></i> 操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="itemsPanel">

                                    </tbody>
                                </table>
                                <div class="pagination-parent">
                                    <ul id="pageModel" class="pagination pagination-block">

                                    </ul>
                                    <div class="pagination-select">
                                        <span>每页展示条数:</span>
                                        <select id="pageSize" class="input-mini">
                                            <option value="10">10</option>
                                            <option value="10" selected="selected">10</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <#include "../common/footer.html">
    </div>
</div>
<!--模型-->
<table style="display: none;">
    <tr id="skillModel">
        <td key="land"></td>
        <td key="functionArea"></td>
        <td key="treeType"></td>
        <td key="buildTime" formatDate="yyyy-MM-dd"></td>
        <td key="density"></td>
        <td key="seedSource"></td>
        <td key="fosterMag">
            <button class="fosterMag" title="详情">详情</button>
        </td>
        <td key="growthDetermination">
            <button class="growthDetermination" title="详情">详情</button>
        </td>
        <td key="description"></td>
        <td key="status"></td>
        <td style="width: 20%">
            <input type="hidden" key="id">
            <button class="btn btn-sm btn-primary edit" title="修改">修改</button>
            <button class="btn btn-sm btn-default delete" title="删除">删除</button>
        </td>
    </tr>
</table>
<#include "../common/include_js.html">
<script type="text/javascript" src="/static/js/seed/index.js"></script>
</body>
</html>
